
<div class="header">
    <div class="wrapper">
        <h1><img src="assets/logo_03.png" alt="JOHNNY1V"></h1>
        <p>THANK YOU FOR SIGNING UP</p>
    </div>
</div>
<div class="banner">
    <div class="wrapper">
        <div class="banner__header">
            <div class="header--left">
                <p class="circle"><span class='date'>Promotion <br> ends <br> 9.30.14</span></p>
            </div>
            <div class="header--right">
                <h3>Now invite your buddies <br>and earn up to <span>$150 JIV credit!</span></h3>
            </div>
        </div>
        <div class="banner__invite">
            <div class="invite--left">
                <p>Here's your unique invite link:</p>
            </div>
            <div class="invite--right">
                <form action="#">
                    <input type="text" placeholder='<%= root_url %>?ref=<%= @user.referral_code %>'>
                </form>
            </div>
        </div>
        <% twitter_message = "Can’t wait for @jonnyiv to launch. I’m going to be #jonnyiv for free." %>
        <div class="banner__share">
            <p>Share:</p>
            <ul class="social">
                <li><a data-type="facebook" href="https://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&title=JONNY IV?v=1"></a></li>
                <li class="twitter"><a data-type="twitter" href="http://twitter.com/share?url=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&text=<%= CGI::escape(twitter_message) %>"></a></li>
                <li class="messenger"><a href='#' onclick="sendMail(); return false"></a></li>
            </ul>
        </div>
    </div>
</div>
<% 
    referrals_count = @user.referrals.count

    stops = User::REFERRAL_STEPS

    found = nil

    stops.reverse_each { |stop|
        if stop["count"] <= referrals_count and !found
            stop["selected"] = true
            found = stop
        else
            stop["selected"] = false
        end
    }   
 %>
<div class="footer <% if found %>prize-<%= found["class"] %><% end %>">
    <div class="wrapper">
        <h2>Share and see what you get!</h2>
    </div>
    <div class="footer--full">
        <div class="footer__status">
            <div class="status__joined">
                <ul>
                    <li class="mess bottom">FRIENDS JOINED</li>
                    <%stops.each do |stop| %>
                        <li class="<% if stop["selected"] %>selected<% end %>">
                            <p class="circle"><span><%= stop["count"] %></span></p>
                            <div class="abs">
                            <p><%= stop["count"] %> friends <br> = <br> <%= stop["html"].html_safe %></p>
                            </div>
                        </li>
                    <% end %>
                </ul>
            </div>
            <div class="progress">
                <span class="meter" style='width:12%'></span>
            </div>
            <div class="status__credit">
                <ul>
                    <li class="mess">$CREDIT</li>
                    <%stops.each do |stop|%>
                    <li><span><%= stop["html"].html_safe %></span></li>
                    <%end%>
                </ul>
            </div>
        </div>
    </div>
    <% 
    words = ''
    if referrals_count == 1
        words = 'friend has'
    elsif 
        words = 'friends have'
    end
    %>
    <div class="wrapper">
        <% if referrals_count == 0 %>
            <p class="prase"><span class='num'>No</span> friends have joined... Yet! <br> Keep Checking</p>
        <% else %>
            <p class="prase"><span class='num'><%= referrals_count %></span> <%= words %> joined <br> Keep Checking</p>
        <% end %>
    </div>
</div>
<script>
  function sendMail() {
    var email_message = "Can’t wait for jonny to launch. I’m going to be jonnyiv for free. "
    var link = "mailto:"
            + "?"
            + "&subject=" + escape("Launch JONNY IV. Free credits.")
            + "&body=" + email_message + "?ref=<%= @user.referral_code %>"
        ;

    window.location.href = link;
  }
</script>
